:root{
    --p--mainColor: #FF8333;
    --p--pinkColor: #ec138d;
    --p--colorWhite: #ffffff;
    --p--colorBlack: #000;
}

/* =====product page css start herer====== */
.product__order .order__offer span {
    margin: 70px 0 20px;
    display: inline-block;
    font-size: 13px;
    color: indianred;
}

/* product tab */
[data-tab-content] {
    display: none;
  }
  
.product__tab .active[data-tab-content] {
display: block;
}



.product__tab .tabs {
display: flex;
justify-content: space-around;
list-style-type: none;
margin: 0;
padding: 0;
border-bottom: 1px solid #aaa;
}

.product__tab .tab {
cursor: pointer;
padding: 10px;
}

.product__tab .tab.active {
color: var(--p--pinkColor);
}

.product__tab .tab:hover {
color: var(--p--pinkColor);
}

.product__tab .tab-content {
margin-left: 20px;
margin-right: 20px;
}
  
/* product tab */

.tab-content h3 {
    font-size: 23px;
    margin: 40px 0 25px;
    color: #333;
}

.tab-content p, .tab-content ul li {
    font-size: 15px;
    color: #555;
}

div#pricing .tab__social{
    margin-top: 30px;
}

div#pricing .tab__social a{
    color: #000;
}

div#pricing .tab__social i.fab {
    font-size: 28px;
    margin-right: 17px;
}

.review__btn .button__sec {
    margin-top: 22px;
    text-align: right;
    border-bottom: 1px solid #aaa;
}

.review__btn .button__sec a {
    padding: 10px 24px;
    color: #fff;
    background-color: #7aa93c;
    display: inline-block;
    font-size: 12px;
    transition: 0.2s ease-in;
}

.review__btn .button__sec a:hover{
    background-color: #9dc866f6;
}

div#news .buyer__review {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px;
    border-bottom: 1px solid #aaa;
}

div#news .buyer__review .review p {
    font-size: 14px;
}

div#news .buyer__review .review .rating_str {
    font-size: 14px;
    color: var(--p--pinkColor);
}

div#news .buyer__review .rating_str {
    font-size: 13px;
    margin: 10px 0;
}

.buyer__review .comment span {
    display: inline-block;
    font-size: 14px;
}

div#news .owner__cmnt span {
    font-weight: bold;
}

div#news .owner__cmnt {
    padding: 20px 0;
    max-width: 278px;
    margin: auto 0 0 auto;
}

div#news .owner__cmnt span {
    font-weight: bold;
    margin-bottom: 11px;
    display: block;
}


/* related product */
.related__product {
    padding: 10px;
    border: 1px solid #aaa;
}

.related__product h3 {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
}

.related__product .related__info {
    text-align: left;
    padding: 26px 0;
}

.related__product .related__info img {
    width: 90px;
}

.related__info p {
    color: #7aa93c;
    font-size: 14px;
    max-width: 174px;
    margin-bottom: 18px;
}

.related__info span {
    font-weight: bold;
}

.order__cart.related__cart{
    justify-content: center;
}

.order__cart.related__cart .quantity span {
    padding: 6px 10px;
}

.order__cart.related__cart .quantity input{
    padding: 2px;
}

.order__cart.related__cart .order__button a:last-child {
    font-size: 11px;
    width: 159px;
    height: 30px;
    margin-left: 0;
    padding: 8px;
}


/* related product */


#img-zoomer-box {
    width: 500px;
    height: auto;
    position: relative;
    margin-top: 10px;
  }
  
  #img-1 {
    width: 100%;
    height: auto;
  }
  
  #img-zoomer-box:hover, #img-zoomer-box:active {
    cursor: zoom-in;
    display: block;
  }
  
  #img-zoomer-box:hover #img-2, #img-zoomer-box:active #img-2 {
    opacity: 1;
  }
  #img-2 {
    width: 340px;
    height: 340px;
    background: url('../image/section__img/product__dets1.jpg') no-repeat #FFF;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
  }

  .view__title {
    text-align: center;
    padding: 50px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 35px;
}

.related__product__slide h2{
    text-align: center;
    margin: 60px 0 30px;
}

.view__title h2, .related__product__slide h2 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 4px;
}

.related__swiper .swiper-button-next:after,
 .related__swiper .swiper-button-prev:after {
    font-size: 22px;
}

.related__swiper .swiper-button-next,
 .related__swiper .swiper-button-prev {
    height: 53px;
    width: 53px;
    background-color: #aaa;
    border-radius: 50%;
    color: #fff;
}


/* =====product page css end here===== */

/* ======menu product page start here===== */
h2.menu__product__title {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    margin: 40px 30px;
}


input.search__bar {
    padding: 6px;
    width: 100%;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
    color: #aaa;
    margin: 10px 0;
}

.sidebar__content{
    border-right: 2px solid #aaa;
    padding: 10px;
}

.sidebar__content form .form__label {
    height: 293px;
    overflow-y: auto;
}  

.sidebar__content form label {
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar__content form label a {
    color: #333;
}

.sidebar__content form.form__lChild p {
    padding: 14px 0;
    border-bottom: 1px solid #aaa;
    margin: 15px 0 10px;
}

.item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.item__title form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__title form p {
    margin-right: 14px;
}

.item__title > p {
    font-size: 12px;
}

.item__title form {
    font-size: 12px;
}

.item__title form select {
    padding: 6px;
    border: 1px solid #aaa;
    outline: none;
}


/* ======menu product page end here===== */


/* =====wish page start here===== */
.wish__title {
    margin-top: 45px;
    text-align: center;
}
/* =====wish page end here===== */


/* =================================
    login page css start here
====================================*/
.login__section {
    padding: 30px 0;
    background-color: #ecebeb;
}

.login__inner{
    max-width: 470px;
    margin: auto;
    background-color: #fff;
    padding: 45px 10px;
    border-radius: 8px;
}

.login__inner form > p {
    font-size: 15px;
    padding-bottom: 10px;
    color: #555;
}

.input__group .input__img img {
    width: 33px;
}

.input__group .input__img {
    width: 93px;
    padding: 2px;
    background-color: #e9ecef;
    padding: 10px 3px;
    font-size: 13px;
}

.input__group {
    display: flex;
    border: 1px solid lightgrey;
}

.input__group.snd__ch {
    margin: 10px 0;
}

.input__group.snd__ch .input__img{
    padding: 0;
}

.input__group input {
    width: 86%;
    outline: none;
    border: none;
}

.input__group.snd__ch .input__img {
    width: 112px;
    background-color: unset;
}

.input__group.snd__ch .input__img img {
    width: 100%;
    height: 100%;
}

.input__group {
    height: 50px;
}

.login__btn > p {
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
}

.login__btn  a.btn__log {
    display: block;
    padding: 15px 0;
    text-align: center;
    border: 1px solid;
    margin-bottom: 3px;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
}

.login__btn a.btn__log i{
    margin-right: 10px;
    font-size: 20px;
}

.login__btn a.btn__log:first-child {
    background-color: #7aa93c;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.login__btn a.btn__log.face__log {
    background-color: #1877F2;
}

.login__btn a.btn__log.g__log {
    background-color: #d34836;
}

.login__btn a.btn__log.mail__log {
    background: transparent;
    color: #111;
}

.login__btn a.btn__log.mail__log i{
    color: #d34836;
}

.login__inner form p:last-child {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    color: #444;
}

.login__inner form p:last-child a {
    color: #7aa93c;
}

/* =================================
    login page css end here
====================================*/


/* ================================
    loyal page start here
===================================*/
.get__lCard {
    padding: 20px;
    margin-top: 40px;
    background-color: #000;
}

.get__lCard h4 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    margin: 30px 0 18px;
}

.loyal__cards .cards__img img {
    width: 100%;
}

.protfolio__card a img {
    max-width: 250px;
}

.protfolio__card {
    text-align: center;
    padding: 20px;
    height: 344px;
    border-radius: 12px;
    background-color: #fff;
}

.protfolio__card .desc p {
    font-size: 14px;
    text-align: justify;
    color: #333;
    margin-top: 30px;
}

.loyality__rules {
    margin: 40px 0;
}

.loyality__rules ul li {
    list-style: circle;
    margin-bottom: 12px;
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .protfolio__card a img {
        max-width: 164px;
    }
}

@media screen and (max-width: 767px) {
    .protfolio__card{
        margin-bottom: 20px;
        height: 300px;
    }

}

@media screen and (max-width: 575px) {
    .get__lCard h4{
        font-size: 22px;
    }

    .loyality__rules ul{
        margin-left: 10px;
    }
}
/* ================================
    loyal page start here
===================================*/


/* ================================
    order page start here
===================================*/
.order__section {
    margin: 46px 0;
}

.order__inner h4 {
    padding: 20px 0;
    font-size: 21px;
}

.order__inner h4 a {color: #7aa93c;}

.order__inner h4 a:hover {
    text-decoration: underline;
}
/* ================================
    order page end here
===================================*/


/* ================================
    return page start here
===================================*/
.return__section {
    margin: 90px 0;
}

.return__inner .return__title {
    margin: 20px 0;
}

.return__inner .return__title h4 {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.return__title p {
    font-size: 17px;
}

.return__inner .return__title span {
    font-size: 12px;
    text-decoration: underline;
    margin-top: 15px;
    display: block;
}

.return__inner ul, .policy ul {
    margin-left: 20px;
}

.return__inner ul li, .policy ul li {
    list-style: circle;
    margin-bottom: 6px;
}

.lifestyle__title h3 {
    font-size: 31px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.lifestyle_p_inner .policy h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.policy {
    margin-bottom: 20px;
}



/* ================================
    return page end here
===================================*/